footer {    
    background: $color-1;
    width: 100%;
    // height: 40vh;
    a{
        // text-decoration: none;
        // cursor: pointer;
        color: black;
        i {
            margin: 8px 15px;
        }
    }    
}
.copyright {
    @include linearGradientBackground();
    color: $color-1;
    // height: 8vh;
}