header {
    background: red;
    width: 100%;
}
.logo {
    background: $color-1;
}
.logo img{
    width: 75px;
}
.desktop-links {
    display: block;
}
.mobile-links {
    display: none;
    position: fixed;
    top: 75px;
    right: 0; 
}
nav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    ul {
        margin: 0;
    } 
    li {
        transition: transform 1.2s;
        margin: 0;
    }
    li:hover {
       transform: scale(1.2);
    }
    a{
        font-size: 20px;
        color: $color-1;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 25px;
    }
    a:hover {
       color: $color-2;
       text-decoration: none;
    }
    a.active {
        color: $color-2;
        // text-decoration: none;
     }
     .navbar-toggle {
        display: none;
    }
    .active {
        display: block;
    }   
}

@media screen and (max-width: 720px) {
    nav ul li a {
        font-size: 17px;        
    }
}

@media screen and (max-width: 620px) {
    nav ul li a {
        font-size: 14px;        
    }
}

@media screen and (max-width: 530px) {
    .desktop-links {
      display: none;        
    }
    nav .navbar-toggle {
        display: block;
    }
}
@media screen and (min-width: 530px) {
    nav .mobile-links {
        display: none;        
    }
}

