header {
    width: 100%;
}
.logo {
    background: $color-1;
}
.logo img{
    width: 75px;
}
.desktop-links {
    display: block;
}
.mobile-links {
    position: fixed;
    top: 75px;    
    right: -170px ;
    transition: all ease-out 0.4s;
    width: 170px;
    background: #2e2e2e;
    li {
        padding: 10px 0;
        border-bottom: 1px solid rgb(248, 248, 248);
    }
    
}
nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #2e2e2e;
    
    ul {
        overflow: hidden;        
        margin: 0;
        // background: black;
         
    } 
    li {
        transition: transform 1.2s;
        margin: 0;
    }
    li:hover {
       transform: scale(1.2);
    }
    a{
        font-size: 20px;
        color: $color-1;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 15px;
    }
    a:hover {
       color: $color-2;
       text-decoration: none;
    }
    // a.active {
    //     color: $color-2;
    //     // text-decoration: none;
    //  }
     #wrapper {
        display: none;
    }
    .active {
        // display: block;
        right: 0;
    // top: 75px;

    }   
}
#wrapper {
	// background: #ffffff;
	display:inline-block;
	margin-left:10px;
	position: relative;
    // padding: 5px;
    cursor:pointer;  
    border-radius: 10px;
    
}

.main-item {
	width:50px;
	height:50px;
    position:relative;
    border: 2px solid #ffffff;
    border-radius: 10px;
    
}

.line {
    position: absolute;
    margin-left: 5px;
    height: 3px;
	width:80%;    
	background:#ffffff;
	border-radius:m 15px;
	transition: all cubic-bezier(0.4, 0, 1, 1) 0.3s;
}

.line01 {
	top:22%;
}

.line02 {
	top:49%;
}

.line03 {
	top:76%;
}

.menu.close .line01 {
    top:47%;
    // left: 2%;
    background: red;
    // transform:rotate(180deg);
    
    // display: none;

}

.menu.close .line02 {
    // transform:rotate(90deg);
    background: red;
	top:49%;
}
.menu.close .line03 {
    // transform:rotate(180deg);
    // transform:rotate(0deg);
    top:51%;
    // left: -2%;
    

    background: rgb(255, 15, 15);

    // display: none;
}

@media screen and (max-width: 740px) {
    nav ul li a {
        font-size: 17px;        
    }
}

@media screen and (max-width: 680px) {
    nav ul li a {
        font-size: 13px;        
    }
}

@media screen and (max-width: 580px) {
    nav ul li a {
        font-size: 14px;        
    }
    .desktop-links {
      display: none;        
    }
    nav #wrapper {
        display: block;
    }
}
@media screen and (min-width: 540px) {
    nav .mobile-links {
        display: none;        
    }
}

