h1 {
    background: rgb(255, 255, 255);
    color: $color-back;
    margin: 0;
    font-family: $font-family;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}
.fs-22 {
    font-size: 24px;
}

p {
    line-height: 1.3;
}