.whoiam {
    @include whoIAm('../img/whoiam.jfif');
    color: $color-1;
    section {
    width: 100%;
    height: 100vh;
    }

    // section:nth-child(1) {
    //     background: rgb(233, 233, 233);
    // }
    section:nth-child(2) {
        background: rgb(47, 134, 184);
    }
    section:nth-child(3) {
        background: rgb(47, 184, 100);
    }
    section:nth-child(4) {
        background: rgb(184, 47, 47);
    }
    section:nth-child(5) {
        background: rgb(184, 148, 47);
    }    
}

@media screen and (max-width: 540px) {
    .whoiam .fs-22 {
        font-size: 16px;        
    }
}





// * ****** Clothing  ****** *

// .grid-row {
//     margin: 10px 0 25px 0;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }


// .portfolio .grid {
//     width: 90%;
//     margin: 10px auto;
//     padding: 10px 0px;
// }
.portfolio {
    height: 100vh;
}

// .portfolio .wrapper-flex {  
//     display: flex;
//     flex-direction: row;   
//     // margin-bottom: 15px;
// }
.portfolio .card {
   color: black;
   margin: 10px;
   display: flex;
   flex-direction: column;
   border: none;
   box-shadow: 1px 2px 10px 1px #4a4a4af7;
//    width: 50%;
}

// .portfolio .card a{
//     width: 100%
// }
  
// .only-1-img-in-row {    
//     width: 100%;
// }
// .portfolio .card img {
//     width: 100%;     
// }
// .portfolio .card-content {
//     padding: 5px 10px;
//     color: rgb(0, 0, 0);
// }
// .portfolio .card-content h4 {
//     text-align: center;
//     margin: 0px;
//     text-transform: uppercase;    
// }
// .portfolio .card-content h3{
//     text-align: right;
//     margin: 0px;    
// }
// .portfolio .card-content p {
//     margin: 2px;
// }
@media screen and (max-width: 620px) {
    .portfolio .wrapper {
       flex-direction: column;
    }
    .portfolio .card {
       width: 80%;
       margin: 0 auto;
    }
    .portfolio .hide-card-2  {
        display: none;
     }
}

// @media screen and (max-width: 900px) {
//     .portfolio .hide-card-4  {
//        display: none;
//     }
// }
@media screen and (max-width: 770px) {
    .portfolio .hide-card-3  {
       display: none;
    }
}
